<section class="card  m-3 p-2" *ngFor="let Persona of personas">
    <img src="../../../assets/wall.jpg" alt="Imagen Inspiradora">
    <div>
        <img [src]="Persona.fotoPerfil" id="FotoDePerfil" class="col-auto img-responsive p-2 rounded-circle"
          alt="Foto de Perfil">
        <button type="button"
        class="btn"
        (click)="editarTexto()">
            <a><i class="fa-solid fa-pen"></i></a>
        </button>
    </div>

    <!-- Edicion-->
    <div *ngIf="formVisibility">
        <form (ngSubmit)="onSubmit(Persona)">
                <input type="text" 
                [(ngModel)]="Persona.fotoPerfil"
                name="imagen"
                placeholder="URL de la imagen"
                class="form-control">
                <button type="submit" class="btn m-1 btn-primary">
                    Guardar
                </button>
        </form>
    </div>
    <H1 class="card-title m-2 mt-0">{{Persona.nombre}} {{Persona.apellido}}</H1>
    <H5 class="m-2 mt-0">{{Persona.titulo}}</H5>
    <p class="card-text m-2 mt-0">{{Persona.descripcion}}</p>
</section>