<div class="navbar navbar-light bg-dark p-0 container-fluid">
    <div class="container-fluid">
      <div class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
        <img src="../../../assets/LogosInti.png" alt="" width="220" height="70" class="d-inline-block align-text-center">
        <img src="../../../assets/APLogo-20-20.png" alt="" width="150" height="90" class="d-inline-block align-text-center">
      </div>
      <div class="containers bg-dark p-3">
        <a href="https://github.com/MateCosido" class="m-1" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.facebook.com/SebapoliS" target="_blank" class="m-1"><i class="fa-brands fa-facebook"></i></a>
        <button type="button" class="primary" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button type="button" class="primary" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
      </div>
    </div>
</div>